python-dotenv
pydantic-settings
langchain
langchain-google-genai
langchain-community
langgraph
httpx
aiofiles
beautifulsoup4
lxml
tenacity
google-generativeai
fpdf
requests
pypdf
firebase-admin
python-json-logger
gunicorn
fastapi
uvicorn[standard]
python-multipart